package pages

import (
	"github.com/etsune/bkors/server/templates"
	"github.com/etsune/bkors/server/templates/components"
)

templ Index(p *PageOptions) {
  @templates.Layout(p.user) {
		@components.SearchBar("")
		<div>
			Большой корейско-русский словарь в двух томах, под редакцией Л.Б. Никольского и Цой Ден Ху, М: 1976<br />
			Обратите внимание, что в словаре используется северокорейская орфография.
		</div>
  }
}