package pages

import (
	"github.com/etsune/bkors/server/models"
	"github.com/etsune/bkors/server/templates"
	"github.com/etsune/bkors/server/templates/components"
)

templ Search(entries *[]models.DBEntry, term string, p *PageOptions) {
  @templates.Layout(p.user) {
		@components.SearchBar(term)
    @components.Entries(entries)
  }
}