package components

templ Ok() {
	<span class="text-emerald-500">OK</span>
}

templ OkWithMsg(msg string) {
	<span class="text-emerald-500">{ msg }</span>
}

templ Err() {
	<span class="text-red-500">Err</span>
}

templ ErrWithMsg(msg string) {
	<span class="text-red-500">{ msg }</span>
}
